.Heading{
    width: 120px;
    height: 70px;
    font-size: 60px;
    margin: auto;
    margin-top: 50px;
}
.quizBoard{
    width: 1150px;
    height: 400px;
    font-size: 20px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 20px -20px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: #d3d3d3;
    padding-bottom: 30px;
}
.options{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.questionSection{
    font-size: 35px;
    background-color: #F28C28;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;   
    border-radius: 20px 20px 0px 0px; 
    padding-right: 20px;
}
.answerSection{
    font-size: 27px;
    background-color:#353935;
    color: whitesmoke;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
label{
    display: flex;
    margin-bottom: 20px;
}
.nextButton{
    width: 90px;
    height: 50px;
    border-radius: 7px;
    border: none;
    margin-left: 510px;
    background-color: #F28C28;
    font-size: 20px;

}
.nextSection{
    background-color:#353935;
    height: 55px;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 30px;
}